.stars {
    position: absolute;
    display: flex;
    width: auto;
    right: 37px;
    top: 22px;
    animation:  5s infinite bgstars;
    align-items: flex-end;
    flex-direction: column;
}

@keyframes bgstars {
    0% {
        right: 37px;
        top: 22px;
        
    }
    50%{
        right: 70px;
        top: 20px;
    }
    100%{
        right: 37px;
        top: 22px;
    }
}
.bubbles {
    position: absolute;
    display: flex;
    width: 100%;
    right: -5px;
    top: 80px;
    margin: 0px;
    animation:  5s infinite bgbubbles;
    align-items: flex-end;
    flex-direction: column;
    opacity: 1;
}
@keyframes bgbubbles {
    0% {
        opacity: 0;

        
    }
    50%{
        opacity: 1;

    }
    100%{
        opacity: 0;
        
    }
}

.app-container__logo {
    transition:all 1s ease-out;
    transform:rotate(0deg);
    
    
}
.app-container__logo:hover{
    transform: scaleX(-1) scale(1.4);
    animation: animate 3s infinite;     
}
@keyframes animate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% { 
        -webkit-transform: scaleX(-1) scale(1.4);
    }
    100%{
        -webkit-transform: rotate(0deg);
    }
    
    
}
.card-button { 
    border: 0;
    transition-duration: 0.5s; 
    
}
.card-button:hover{
    transform-origin: 0% 0%;
    transform: rotateZ(10deg);
    
    
    
}

.start-button:hover{
    background-color: white;
    color: #39C2D7;
    transition-duration: 1s;    
}



