body {
    width: 100%;
    margin: 0;
    padding: 0px;
}
.first-page {
    width: 100%;
    height: 822px;
    position: relative;
    background-size:cover;
    background-image: url(./assets/Background.png);  
}

main {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-page {
    width: 100%;
    height: 637px;
    background-image: url(./assets/backgr.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    width: 100%;
    height: 199px;
    background-color: #464547;
    
    justify-content: center;
    
}











