.first-footer {
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: $foontW;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $white;    
}
.footer-adress {
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: column;
    padding-top: 39px;
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: $foontW;
    font-size: 16px;
    line-height: 19px;
    color: $grey;

}

.last-logo {
    margin-right: 20px;

}
.last-container {
    width: 100%;
    height: 69px;
    display: flex;
    padding-top: 80px;
    justify-items: end;
    align-items: end;
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: $foontW;
    font-size: 16px;
    line-height: 19px;
    color: $grey;

}
