.app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
        
        display: flex;
        align-items: center;
        flex-direction: column;
       
        &__headline {
            font-family: 'Oswald';
            font-style: normal;
            font-weight: $bigfoontW;
            font-size: 48px;
            line-height: 64px;
            text-align: center;
            color: $white;
        }
        &__description {
            font-family: "Source Sans 3";
            font-style: normal;
            font-weight: $foontW;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: $light-grey;  
        }
    }
}



