.start-button {
    width: 145px;
    height: 143px;
    background-color: $light-blue;
    border-radius: 50%;
    border-color: $light-blue;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    transition-duration: 1s; 

}
.start-button p {
    font-size: 69px; 
}
.last-box h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: $bigfoontW;
    font-size: 48px;
    line-height: 64px;  
    text-align: center;
    color: $white;
}
.last-box h3 {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: $foontW;
    font-size: 24px;
    line-height: 32px; 
    text-align: center;
    color: $white;
}
.last-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
