@media only screen and (max-width: 768px) {
    .first-page{
        background-image: url(./assets/mbackgr.png);
    }
    nav ul {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card-paragraph {
        margin: 10px;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 292px;
    }
    .footer-adress {
        display: flex;
        align-items: center;
        padding-top: 0px;
        text-align: center;
        
    }
    .last-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 31px;
    }
}