header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
nav ul  {
    width: 395px;
    display: flex;
    justify-content: space-around;
    
}
.burger-menu {
    width: 22px;
    height: 16px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    display: none;
}
nav ul li {
    list-style: none;
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $white;

}
nav ul li a, .project-title {
    color: $white;
    text-decoration: none;
}
.project-title{
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
    height: 16px;
}