article {
    width: 100%;
    height: 678px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card {
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.card-paragraph {
    width: 430px;
    margin: 40px;
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: $foontW;
    font-size: 16px;
    line-height: 22px;
    color: $dark-grey;
}
.card-button {
    background-color: $blue;
    color: $white;
    border-radius: 18px;
    width: 125px;
    height: 36px;
    border: 0;
}

article h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: $bigfoontW;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: $black;

}
article h3 {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: $foontW;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $dark-grey;

}