body {
  width: 100%;
  margin: 0;
  padding: 0px;
}

.first-page {
  width: 100%;
  height: 822px;
  position: relative;
  background-size: cover;
  background-image: url(./assets/Background.png);
}

main {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-page {
  width: 100%;
  height: 637px;
  background-image: url(./assets/backgr.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  width: 100%;
  height: 199px;
  background-color: #464547;
  justify-content: center;
}

.stars {
  position: absolute;
  display: flex;
  width: auto;
  right: 37px;
  top: 22px;
  animation: 5s infinite bgstars;
  align-items: flex-end;
  flex-direction: column;
}

@keyframes bgstars {
  0% {
    right: 37px;
    top: 22px;
  }
  50% {
    right: 70px;
    top: 20px;
  }
  100% {
    right: 37px;
    top: 22px;
  }
}
.bubbles {
  position: absolute;
  display: flex;
  width: 100%;
  right: -5px;
  top: 80px;
  margin: 0px;
  animation: 5s infinite bgbubbles;
  align-items: flex-end;
  flex-direction: column;
  opacity: 1;
}

@keyframes bgbubbles {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.app-container__logo {
  transition: all 1s ease-out;
  transform: rotate(0deg);
}

.app-container__logo:hover {
  transform: scaleX(-1) scale(1.4);
  animation: animate 3s infinite;
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: scaleX(-1) scale(1.4);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
.card-button {
  border: 0;
  transition-duration: 0.5s;
}

.card-button:hover {
  transform-origin: 0% 0%;
  transform: rotateZ(10deg);
}

.start-button:hover {
  background-color: white;
  color: #39C2D7;
  transition-duration: 1s;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

nav ul {
  width: 395px;
  display: flex;
  justify-content: space-around;
}

.burger-menu {
  width: 22px;
  height: 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  display: none;
}

nav ul li {
  list-style: none;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

nav ul li a, .project-title {
  color: #FFFFFF;
  text-decoration: none;
}

.project-title {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 16px;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.app-container__headline {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}
.app-container__description {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

article {
  width: 100%;
  height: 678px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card-paragraph {
  width: 430px;
  margin: 40px;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.card-button {
  background-color: #55C2D8;
  color: #FFFFFF;
  border-radius: 18px;
  width: 125px;
  height: 36px;
  border: 0;
}

article h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}

article h3 {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}

.start-button {
  width: 145px;
  height: 143px;
  background-color: #39C2D7;
  border-radius: 50%;
  border-color: #39C2D7;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  transition-duration: 1s;
}

.start-button p {
  font-size: 69px;
}

.last-box h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

.last-box h3 {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.last-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first-footer {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-adress {
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.last-logo {
  margin-right: 20px;
}

.last-container {
  width: 100%;
  height: 69px;
  display: flex;
  padding-top: 80px;
  justify-items: end;
  align-items: end;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 768px) {
  .first-page {
    background-image: url(./assets/mbackgr.png);
  }
  nav ul {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .card {
    flex-direction: column;
    align-items: center;
  }
  .card-paragraph {
    margin: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 292px;
  }
  .footer-adress {
    display: flex;
    align-items: center;
    padding-top: 0px;
    text-align: center;
  }
  .last-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 31px;
  }
}

/*# sourceMappingURL=styles.css.map */
